*{
    margin: 0px;
    padding: 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    background-color: rgb(221, 228, 245);
}

section {
    padding: 60px;
    display: flex;
    justify-content: center;
}

header {
    background: blueviolet;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mainInitial {
    align-items: center;
    display: inline-block;
}

.mainButtonText {
    display: inline;
    text-decoration: none;
}

.mainButton {
    border-radius: 25px;
    background-color: #ddd;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    text-decoration: none;    
    cursor: pointer;
    font-size: 15px;
    width: 100px;
    margin: 0px 15px 0px 15px;
}

.titulo {
    color: white;
    font-size: 28px;
    display: inline-block;
    text-decoration: none;
}

.container-body {
    display: flex;
    height: 70%;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: #ffffff;
    flex-direction: column;
    row-gap: 40px;
}

.container {
    width: 100%;
    max-width: 800px;
    border-style: solid;
    background: #ffffff;
    padding: 25px 30px;
    border-radius: 25px;
    border-style: solid;
    border-width: 1px;
    border-color: #6679bd;
}

.container .title {
    font-size: 25px;
    position: relative;
}

.container form .campos {
    display: flex;
    flex-wrap: wrap;
}

form .campos .input-box {
    width: calc(100% / 2 - 20px);
    margin: 10px;
}

.campos .input-box input {
    height: 50px;
    width: 90%;
    box-shadow: 2px 2px 2px rgb(196, 196, 196);
    border: none;
    border-radius: 5px;
    background-color: #bed4f9;
}

input[type="text"],
input[type="telefone"],
input[type="email"],
textarea,
textarea::placeholder,
input::placeholder {
    font-size: large;
    padding: 10px;
}

.campos .input-box textarea {
    resize: none;
    height: 100px;
    width: 90%;
    box-shadow: 2px 2px 2px rgb(196, 196, 196);
    border: none;
    border-radius: 5px;
    background-color: #bed4f9;
}

form .button {
    height: 50px;
    margin: 50px 0;
}

form .button button {
    height: 100%;
    width: 100%;
    box-shadow: 2px 2px 2px rgb(196, 196, 196);
    border: none;
    border-radius: 5px;
    font-size: large;
    outline: none;
    color: #ffff;
    background: #6679bd;
    letter-spacing: 2px;
    font-weight: 500;
    cursor: pointer;
}

form .button button:hover {
    background-color: #86a0cc;
}

.contacts {
    width: 100%;
    max-width: 800px;
    border-style: solid;
    background: #ffffff;
    padding: 25px 30px;
    border-radius: 25px;
    border-style: solid;
    border-width: 1px;
    border-color: #6679bd;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    align-items: center;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 12px;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    cursor: pointer;
}

.contact:hover {
    transform: translateY(-5px);
}

.footer {
    background: blueviolet;
    display: flex;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    height: 100px;
    justify-content: space-between;
}

.mainFooter {
    text-decoration: none;
}
  
span {
    color: white;
    font-size: 28px;
}
/* 
@media (max-width: 600px) {
    .container {
        max-width: 100%;
    }

    .contacts {
        max-width: 100%;
    }

    form .campos .input-box {
        width: 100%;
        margin-bottom: 15px;
    }

} */